@page "/"

@using StfcWeb.Data
@inject EntityServices EntityService

(table of popular builds)
Allow table to filter based on needs (e.g. experience builder, Armada, Eclipse hostiles, etc)

(news)
@foreach (var news in newsItems)
{
    <div class="card w-50">
        <div class="card-header @news.TypeCssText.ToLower() @news.TypeCssBg.ToLower()">
            <b>@news.Title</b>
            <div class="text-right">@news.CreatedOnCST.ToString("yyyy-MM-dd h:mm tt") CST</div>
        </div>
    </div>
    <br />
}

@code {
    private List<Data.Entities.News> newsItems = new();

    protected override async Task OnInitializedAsync()
    {
        newsItems = await EntityService.GetFrontPageNewsAsync();
        //forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}